# App Configuration
PROD_DB_URL=
PROD_DB_USER=
PROD_DB_PASSWORD=
PROD_MAIL_EMAIL=
PROD_MAIL_PASSWORD=

# pgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# DB Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=