server:
    port: 8001

spring:
    application:
        name: flash-memorizer-app

    devtools:
        livereload:
            enabled: true
    datasource:
        url: jdbc:mysql://${PROD_DB_HOST}:${PROD_DB_PORT}/${PROD_DB_NAME}
        username: ${PROD_DB_USER}
        password: ${PROD_DB_PASSWORD}
    sql:
        init:
            mode: always
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        open-in-view: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQLDialect
    thymeleaf:
        prefix: classpath:/templates/
        suffix: .html

mail:
    email: ${PROD_MAIL_EMAIL}
    password: ${PROD_MAIL_PASSWORD}