@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background: linear-gradient(-45deg, #15031b, #a10856, #d24150, #e97254, #ffb758);
    place-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: animation 15s ease infinite;
}


@keyframes animation{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.container{
    overflow: hidden;
    color: white;
    display: flex;
    background-color: rgba(219, 219, 219, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    border: 2px white;
    border-radius: 15%;
    padding: 20px;
    height: 60vh;
    width: 60%;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.icon-warning{
    font-size: 2em;
}
