@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #007BFF;
    user-select: none;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #007BFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #007BFF;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #007BFF;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #007BFF;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    border: 2px solid #65b7ff;
    background: #007BFF;
    color: #FFFFFF;
}

section{
    width: 100%;
    margin-top: 70px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 400px;
    background: rgb(255, 255, 255, .5);
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center ;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease ;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    margin-top: 60px;
    height: 590px;
}

.wrapper .form-box.login{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.icon-close:hover{
    color: #007BFF;
}

.form-box h2{
    font-size:  2em;
    color: #FFFFFF;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #FFFFFF;
    margin: 30px 0;
    outline: none;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFFFFF;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #FFFFFF;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #FFFFFF;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #FFFFFF;
    margin-right: 3px;
}

.remember-forgot a{
    color: #FFFFFF;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btnLogin {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #007BFF;
    font-weight: 500;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.btnLogin:hover{
    background: #007BFF;
    color: #FFFFFF;
}

.login_register{
    font-size: .9em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login_register p a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.login_register p a:hover{
    text-decoration: underline;
}

.message-error {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.message-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.message-close:hover,
.message-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}