.title{
    width: 20rem;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 10rem;
    position: absolute;
    display: flex;
}

.title_text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 2rem;
    position: relative;
    margin: auto;
}



.title_line {
    width: 100%;
    height: 0.6rem;
    position: absolute;
    background-color: #67d9ea;
    margin: auto;
    margin-top: 6rem;
}

.title:hover .title_text{
    color: #ff983a;
    transform: scale(1.05);
}
.title:hover .title_line{
    background-color: #ff983a;
    transform: scale(1.05);
}

.content{
    display: flex;
    position: absolute;
    margin-top: 10rem;
    margin-left: 10rem;
    width: 100%;
}

.box_input {
    height: 100%;
    width: 90%;
    margin-top: 3rem;
    margin-left: 0;
    position: absolute;  
}

.description {
    font-size: 1.5rem;
}

.input_import{
    resize: both;
    overflow: auto; 
    min-height: 15rem;
    border: 2px solid #353b3e;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 15px;
}
.input_import:focus{
    border: 4px solid #ff983a;
    box-shadow: 0 0 10px transparent;
}

.menu_content{
    display: flex;
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 10rem;
}

.prevlew_content{
    min-height: 100rem;
    height: auto;
    margin-top: 2rem;
    margin-left: -10rem;
    width: 112%;
    display: flex;
    position: absolute;
    background-color: #f0eef4;
}
.menu_op{
    width: 80%;
    height: 100%;
}
.btn_import {
    height: 9rem;
    width: 22rem;
    margin-left: 1rem;
    background-color: rgb(24, 235, 228);
    color: white;
    border-radius: 8px;
    font-size: 1.9rem;
    font-weight: 700;
}

.btn_import:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.between_term-des_menu {
    height: 100%;
    width: 40%;
    display: inline-block;
    position: absolute;
}

.between_cards_menu{
    height: 100%;
    width: 55%;
    position: relative;
    display: inline-block;
    margin-left: 50%;
}

.radio_input {
    height: 2rem;
    width: 2rem;
}

.form-check{
    margin-top: 1.5rem;
    margin-right: 5rem;
}

label{
    font-size: 1.7rem;
    margin-left: 1rem;
}

.Custom_input {
    border-width: 2px;
    width: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}


.lable_under-input{
    color: gray;
}

.title_prevlew{
    margin-top: 3rem;
    font-weight: 700;
    margin-left: 5rem;
}

.none_import_notify{
    display: flex;
    color: gray;
    position: absolute;
    font-size: 1.5rem;
    margin-top: 6rem;
    margin-left: 5rem;
}

.list_cards-import{
    margin-top: 6.5rem;
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
}

.card_item{
    background-color: white;
    margin: auto;
    width: 95%;
    height: 70px;
    margin-left: -0.5rem;
    margin-bottom: 2rem;
    display: flex;
    text-decoration: none;
}

.card_item:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.number_of_item{
    margin-right: 5rem;
    margin-left:2rem;
    margin-top: 2rem;
    font-weight: 800;
    color: gray;
}

.item_content{
    margin-right: 10rem;
    width: 75rem;
}

.line{
    height: 1.5px;
    width: 100%;
    background-color: rgb(78, 77, 77);
    margin-top: 1px;
    margin-bottom: 1px;
}

.item_txt{
    color: gray;
    font-size: 1.4rem;
    margin-top: 15px;
    display: block;
    position: relative;
}

.item_content h4{
    color: gray;
}

.btn_importFile{
    display: inline-block;
    margin-left:2rem;
    margin-top: -15px;
    position: relative;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 600;
    color: gray;
}
.btn_importFile:hover{
    transform: scale(1.1);
}