body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.board-height {
    height: 80vh!important;
}

.card {
    width: 180px;
    height: 180px;
    background-color: #F8F9FA;
    border: 1px solid #CED4DA;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card[draggable="true"] {
    cursor: move;
}

.card[draggable="true"]:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.time-value {
    font-weight: bold;
    font-size: 32px;
    color: #4255FF;
}

.big-title-color {
    color: #586380!important;
}

.small-title-color {
    color: #939BB4!important;
}

.body-color {
    color: #2E3856!important;
}

.lang-vi {
    font-family: Lucida Grande, Arial, sans-serif!important;
    font-size: 1.1em;
}

@media (min-width: 1024px) {
}

@media (max-width: 1023px) {

}