#imageWrapper {
    display: none;
}

#reviewForm {
    margin-top: 150px;
}

.outer-card {
    margin-bottom: 50px;
}

.radio-group {
    margin-left: 10px!important;
    margin-top: 40px!important;
}

.btn-wide {
    width: 100%;
}

.btn-height {
    height: 100px;
}

.btn-content {
    width: 400px;
}

.btn-group-spacing .btn {
    margin-right: 10px;
}

.btn-submit {
    width: 15%;
    height: 100px;
}

.custom-border {
    border: 1px solid #dfe6e9!important;
    border-radius: 15px!important;
}

.des-height {
    height: 180px;
}

.big-title-color {
    color: #586380!important;
}

.small-title-color {
    color: #939BB4!important;
}

.body-color {
    color: #2E3856!important;
}

.lang-vi {
    font-family: Lucida Grande,Arial,sans-serif!important;
    font-size: 1.1em;
}

.card {
    max-width: 1100px;
}

@media (max-width: 1023px) {
    .btn-content {
        width: 100%;
    }
    .btn-submit {
        width: 100%;
    }
}

