body {
    background-color:#F8F9FA;
}

.navbar .nav-link {
    font-size: 25px;
}

.navbar .nav-link.dropdown-toggle {
    color: black;
}

.navbar-right {
     display: flex;
     justify-content: right;
     align-items: center;
     flex-grow: 1;
}

.navbar-bg {
    background-color: white;
}

@media (min-width: 1024px) {
    .navbar-right {
        justify-content: right;
    }
}

@media (max-width: 1023px) {
    .navbar-right {
        justify-content: center;
    }
}

