@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: white;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.user-pic{
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50px;
    place-self: center;
}

.sub-menu-wrap{
    position: fixed;
    top: 60px;
    right: 90px;
    width: 280px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 10px;
    margin: 10px;
}

.sub-menu hr{
    height: 1px;
    width: 100%;
    margin: 15px 0 10px;
}

.user-info {
    display: flex;
    align-items: center;
    height: 50px;
}

.user-info:hover{
    background: #dadada;
    border-radius: 7px;
    border: 10px;
}

.user-info h3{
    font-weight: 400;
    color: #000;
}

.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
    transition: transform 0.5s ease;
}

.sub-menu ion-icon{
    width: 40px;
    padding: 8px;
    font-size: 1.5em;
    transition: transform 0.5s;
}

.sub-menu span{
    align-items: center;
    font-size: 18px;
    transition: transform 0.5s;
}


.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
    transform: scale(1.1) translateX(10px);
}

.sub-menu-link:hover ion-icon{
    font-weight: bold;
    border: 0;
    transform: scale(1.1, 1.1);
}