<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/access-denied.css}" href="../static/css/access-denied.css">
</head>
<body>
    <div class="container">

        <ion-icon name="warning-outline" class="icon-warning"></ion-icon>
        <h2>Access denied, please return to the homepage.</h2>
        <br>
        <a th:href="@{/home}"> Back to home </a>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>