<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<div class="alert alert-success" role="alert">
    Deck Delete Successfully...
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-primary">Edit</h4>

                    <form th:action="@{/deck/update}" method="post" th:object="${deck}">
                        <input type="hidden" th:value="${deck.id}" name="id">

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" th:value="${deck.name}">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" name="desc" th:value="${deck.desc}">
                        </div>

                        <button class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>