<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">

    <link rel="stylesheet" href="../static/richtext/richtext.min.css">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">

    <link rel="stylesheet" href="../static/richtext/richtext.scss">
    <link rel="stylesheet" th:href="@{/richText/richtext.scss}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>Edit Card</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-primary">Edit Card</h4>

                    <form method="post" th:action="@{/cards/update}" th:object="${card}">
                        <input name="id" th:field="*{id}" type="hidden">
                        <input name="deckId" th:field="*{deck.id}" type="hidden">

                        <div class="form-group">
                            <label>Term</label>
                            <input class="cardTermEditor" th:field="*{term}" type="text" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input class="cardDescEditor" th:field="*{desc}" type="text" maxlength="1000">
                        </div>

                        <button class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<script th:src="@{/richText/jquery.richtext.js}"></script>
<script src="../static/richText/jquery.richtext.js"></script>

<script th:src="@{/richText/jquery.richtext.min.js}"></script>
<script src="../static/richText/jquery.richtext.min.js"></script>

<script>
    $(document).ready(function() {
        $('.cardTermEditor').richText();
        $('.cardDescEditor').richText();
    });
</script>

</body>
</html>