<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/images/page-icon.svg}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/back-navbar.css}">
    <link rel="stylesheet" th:href="@{/css/edit-deck.css}"/>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <link rel="stylesheet" th:href="@{/richtext/richtext.scss}">

    <title>Edit Deck</title>
</head>
<body>

<header style="display: flex; align-items: center;">
    <a class="button_back" th:href="@{/decks/review/{deckId}(deckId=${deckForm.deck.id})}">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
    <h1>Flash Memorizer</h1>
</header>

<section id="notificationSec">
    <div class="alert alert-success" id="successMessage" th:if="${successMsg}">
        <span th:text="${successMsg}">Notify the success message!</span>
    </div>

    <div class="alert alert-danger" id="errorMessage" th:if="${errorMsg}">
        <span th:text="${errorMsg}">An error occurred.</span>
    </div>
</section>

<section class="container-fluid content_sec">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-primary">Deck Form</h4>

                    <form th:action="@{/decks/update}" method="post" id="deckForm" th:object="${deckForm}">
                        <input type="hidden" th:field="*{deck.id}" />

                        <div class="form-group flex-box">
                            <label>Name</label>
                            <input type="text" class="form-control" th:field="*{deck.name}" maxlength="50"/>
                        </div>
                        <div class="form-group flex-box">
                            <label>Description</label>
                            <textarea class="deckDescEditor" th:field="*{deck.desc}" maxlength="500"></textarea>
                        </div>

                        <!-- Add card details -->
                        <h4 class="text-center text-primary mt-5">Cards</h4>

                        <div th:if="${deckForm.cards.isEmpty()}" class="alert alert-info text-center">
                            <p class="lead mb-0">You haven't created any cards</p>
                        </div>

                        <div th:if="${not deckForm.cards.isEmpty()}">
                            <ul id="cardList" class="list-group">
                                <li class="list-group-item" th:each="curCard, stat : ${deckForm.cards}">
                                    <div class="card-body mb-3 position-relative">
                                        <div class="format-bar d-flex justify-content-end">
                                            <a class="btn btn-outline-primary btn-sm edit-button mr-2"
                                               th:href="@{/cards/edit(cardId=${curCard.id})}">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>

                                            <a class="btn btn-outline-danger btn-sm delete-button"
                                               th:href="@{/cards/delete(cardId=${curCard.id}, deckId=${deckForm.deck.id})}">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                        </div>

                                        <!-- Use th:field for the hidden input field -->
                                        <input type="hidden" th:field="*{cards[__${stat.index}__].id}" />

                                        <div class="form-row mt-3">
                                            <div class="col">
                                                <label>Term</label>
                                                <div class="card">
                                                    <div class="card-body border font-monospace"
                                                         th:utext="*{cards[__${stat.index}__].term}">
                                                        [Term]
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Description</label>
                                                <div class="card">
                                                    <div class="card-body border font-monospace"
                                                         th:utext="*{cards[__${stat.index}__].desc}">
                                                        [Desc]
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="d-flex justify-content-center mt-2 mb-3">
                            <a class="btn btn-outline-success"
                               th:href="@{/cards/input/{deckId}(deckId=${deckForm.deck.id})}">
                                <i class="fas fa-plus"></i> Add Another Card
                            </a>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Save Deck And Return</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script th:src="@{/richText/jquery.richtext.min.js}"></script>

<script>
    $(document).ready(function() {
        const customEditor = {
            fontList: ["Arial", "Times New Roman", "Verdana"],
            imageUpload: false,
            table:false,
        };

        $('.deckDescEditor').richText(customEditor);
    });
</script>

<script>
    $(document).ready(function () {
        const notificationSec = $('#notificationSec')
        const successMessage = $('#successMessage');
        const errorMessage = $('#errorMessage');

        if (successMessage.length > 0 || errorMessage.length > 0) {
            setTimeout(function () {
                notificationSec.fadeOut('slow');
            }, 5000);
        }
    });
</script>
</body>
</html>