<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Flash Memorizer</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css">
</head>
<body>
    <header>
        <h2 class="logo" href="/home" style="text-decoration: none">Flash Memorizer</h2>
        <nav class="navigation">
            <a href="/home">Home</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <div class="message-error" th:if="${param.loginFailed}">
        <div class="message-content">
            <p>Incorrect account or password!</p>
            <span class="message-close">&times;</span>
        </div>
    </div>

    <div class="message-error" th:if="${param.isExistsEmail}">
        <div class="message-content">
            <p>Email already exists!</p>
            <span class="message-close">&times;</span>
        </div>
    </div>

    <div class="message-error" th:if="${param.isExistsUsername}">
        <div class="message-content">
            <p>The username already exists!</p>
            <span class="message-close">&times;</span>
        </div>
    </div>

    <div class="message-error" th:if="${param.passwordNotMatch}">
        <div class="message-content">
            <p>Passwords do not match!</p>
            <span class="message-close">&times;</span>
        </div>
    </div>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"/></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="#" th:action="@{/login-process}" th:object="${user}" method="post">
                <div class="input-box" name="username">
                            <span class="icon">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="input-box" name="password">
                            <span class="icon">
                                <ion-icon name="key-outline"></ion-icon>
                            </span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">Remember password</input></label>
                    <a href="#">Forgot password?</a>
                </div>

                <button type="submit" class="btnLogin" value="login">Login</button>

                <div class="login-register">
                    <p> Don't have an account yet?
                        <a href="#" class="register-link">Register.</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Register</h2>
            <form action="#" th:action="@{/register-process}" th:object="${user}" method="post">

                <div class="input-box" name="fullname">
                            <span class="icon">
                                <ion-icon name="pricetags-outline"></ion-icon>
                            </span>
                    <input type="text" name="fullname" required>
                    <label>Full name</label>
                </div>

                <div class="input-box" name="email">
                            <span class="icon">
                                <ion-icon name="mail-outline"></ion-icon>
                            </span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box" name="username">
                            <span class="icon">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="input-box" name="password">
                            <span class="icon">
                                <ion-icon name="key-outline"></ion-icon>
                            </span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>


                <div class="input-box" name="passwordConfirm">
                            <span class="icon">
                                <ion-icon name="key-outline"></ion-icon>
                            </span>
                    <input type="password" name="passwordConfirm" required>
                    <label>Confirm Password</label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox"></input>I agree with the policies & conditions.</label>
                </div>

                <button type="submit" class="btnLogin" value="register">Đăng Ký</button>

                <div class="login-register">
                    <p> Do you already have an account?
                        <a href="#" class="login-link">Login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <script th:src="@{/js/home.js}" src="../static/js/home.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>