<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Flash Memorizer</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
    <body>
        <header>
            <h2 class="logo">Flash Memorizer</h2>
            <nav class="navigation">
                <a href="#">Trang Chủ</a>
                <a href="#">Thông Tin</a>
                <a href="#">Khóa Học</a>
                <a href="#">Tài Liệu</a>
                <button class="btnLogin-popup">Đăng nhập</button>
            </nav>
        </header>

        <div class="wrapper">
            <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
            <div class="form-box login">
                <h2>Đăng Nhập</h2>
                <form action="#" th:action="@{/user/${user.timezone}}" th:object="${user}" method="post">
                    <div class="input-box" name="username">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon> 
                        </span>
                        <input type="text" required>
                        <label>Tên tài khoản</label>
                    </div>
                    
                    <div class="input-box" name="pass_hash">
                        <span class="icon">
                            <ion-icon name="key-outline"></ion-icon>  
                        </span>
                        <input type="password" required>
                        <label>Mật Khẩu</label>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Nhớ mật khẩu</input></label>
                        <a href="#">Quên mật khẩu</a>
                    </div>
                    
                    <button type="submit" class="btnLogin" value="login">Đăng nhập</button>

                    <div class="login-register">
                        <p> Bạn chưa có tài khoản? 
                            <a href="#" class="register-link">Tạo tài khoản</a>
                        </p>
                    </div>   
                </form>
            </div>

            <div class="form-box register">
                <h2>Đăng Ký</h2>
                <form action="#" th:action="@{/home/register}" method="post">

                    <div class="input-box" name="full_name">
                        <span class="icon">
                            <ion-icon name="pricetags-outline"></ion-icon>
                        </span>
                        <input type="text" required>
                        <label>Họ và tên</label>
                    </div>

                    <div class="input-box" name="username">
                        <span class="icon">
                            <ion-icon name="person-circle-outline"></ion-icon> 
                        </span>
                        <input type="text" required>
                        <label>Tên Tài Khoản</label>
                    </div>

                    <div class="input-box" name="email">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon> 
                        </span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    
                    <div class="input-box" name="pass_hash">
                        <span class="icon">
                            <ion-icon name="key-outline"></ion-icon>  
                        </span>
                        <input type="password" required>
                        <label>Mật Khẩu</label>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox"></input>Tôi đồng ý với các chính sách & điều khoản</label>
                    </div>
                    
                    <button type="submit" class="btnLogin" value="register">Đăng Ký</button>

                    <div class="login-register">
                        <p> Bạn chưa có tài khoản? 
                            <a href="#" class="login-link">Đăng Nhập</a>
                        </p>
                    </div>   
                </form>
            </div>
        </div>
        <script th:src="@{/js/home.js}"></script>
        <script src="../static/home.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> 
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>