<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" href="../static/css/import-card.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/import-card.css}" />
    <link rel="stylesheet" href="../static/font/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/font/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
    <title>CompanyManagement</title>
</head>
<body>
<div class="import_feature_content" >
    <header class="title">
        <h2 class="title_text">Cancel Import</h2>
        <div class="title_line"></div>
    </header>
    <div class="content" >
        <h3>Import your data. </h3>
        
        <p class="description">&nbsp;Copy and Paste your data here (from Word, Excel, Google Docs, etc.)
            <button class="btn_importFile btn" onclick="openModalFile()">
                <i class="fa-solid fa-file-circle-plus"></i>
            </button>
        </p>
        
        <div class="box_input">
            <div class="form-floating">
                <textarea id="document_input" class="form-control input_import" oninput="changeBorderColor(event)" ></textarea>
            </div>
            <div class="menu_content">
                <div class="menu_op">
                    <div class="between_term-des_menu">
                        <h4>Between term and definition</h4>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input radio_input" type="radio" name="betweenTerm_decs" value="	" checked onchange="handleRadioChange()">
                                <label class="form-check-label">Tab</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input radio_input" type="radio" name="betweenTerm_decs" value="," onchange="handleRadioChange()">
                                <label class="form-check-label">Comma</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input radio_input" type="radio" name="betweenTerm_decs"value="" onchange="handleRadioChange()">
                                <label class="form-check-label">
                                    <input id="input_custom1" class="Custom_input" placeholder="-" type="text"></input>
                                    <p class="lable_under-input">Custom</p>
                                </label>
                            </div>
                        </div>                      
                    </div>
                    <div class="between_cards_menu">
                        <h4>Between cards</h4>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input radio_input" type="radio" name="betweenCards"value="
" checked onchange="handleRadioChange()">
                                <label class="form-check-label">New line</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input radio_input" type="radio" name="betweenCards"value=";" onchange="handleRadioChange()">
                                <label class="form-check-label">Semicolon</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input radio_input" type="radio" name="betweenCards" value="" onchange="handleRadioChange()">
                                <label class="form-check-label">
                                    <input id="input_custom2" class="Custom_input" placeholder="/n/n"  type="text"></input>
                                    <p class="lable_under-input">Custom</p>
                                </label>
                            </div> 
                        </div>
                        
                    </div>
                </div>
                <button id="btn_import" class="btn btn_import">
                    Import
                </button>
            </div>
            <div class="prevlew_content">
                <h3 class="title_prevlew">
                    <span>Prevlew</span>
                </h3>
                <p id="none_contain" class="none_import_notify" style="display: none;">Nothing to preview yet.</p>
                <ul id="listCards" class="list_cards-import">
                </ul> 
            </div>
        </div>
       
    </div>   
</div>
<div id="modalFile" class="modal">
    <div class="modal__overlay" onclick="closeModalFile()">
    </div>
    <div class="modal__body modal__body-newproj">
      <span class="close close__modal" onclick="closeModalFile()">
          <i class="fa-regular fa-circle-xmark"></i>
      </span>
      <div class="modal__inner">         
          <div  class="form__input-file" style="display: flex">
              <div id="dropZone">
                  <input id="fileInput" class="input_file form-control" type="file">
              </div>
          </div>
      </div>
    </div>
</div>
<script src="../static/js/import-card.js"></script>
<script th:src="@{/js/import-card.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>