<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/matching-review.css}">
    <title>Matching Review</title>
</head>
<body>
<div class="wrapper">
</div>
<div class="container-fluid">
    <!--Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="container-fluid">
            <div class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fill Blank
                </div>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Multi choices</a></li>
                    <li><a class="dropdown-item" href="#">Matching</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Home</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <a class="nav-link disabled justify-content-center" href="#" tabindex="-1" aria-disabled="true">Test 1 - Part 1</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Print test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End Navbar-->
    <!--Start board-->
    <div class="p-5 mb-8 bg-light text-dark board-height">
        <div id="board" class="board"></div>
    </div>
    <!--End board-->
    <div class="time-section text-center mt-3">
        <h6>TIME: <span id="elapsed-time" class="time-value"></span></h6>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/matching-review.js}"></script>
</body>
</html>
