<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Multi Choice</title>

    <style>
        .btn-group-spacing .btn {
            margin-right: 10px;
        }
        .custom-border {
            border: 2px solid #dfe6e9;
            border-radius: 15px;
        }
        .btn-wide {
            width: 100%;
            padding: 15px 20px;
        }
        .des-height {
        height: 180px;
        }
        .big-title-color {
        color: #586380!important;
        }
        .small-title-color {
        color: #939BB4!important;
        }
        .body-color {
        color: #2E3856!important;
        }
        .lang-vi {
            font-family: Lucida Grande,Arial,sans-serif!important;
            font-size: 1.1em;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <!--Start Navbar -->
    <nav class="navbar navbar-brand navbar-expand-lg navbar navbar-light mb-1">
        <div class="container-fluid">
            <div class="nav nav-item dropdown navbar-nav navbar-right">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Multi choices
                </a>
                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Fill blank</a></li>
                    <li><a class="dropdown-item" href="#">Matching</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="#">Home</a></li>
                </ul>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Test 1 - Part 1</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Print test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Navbar-->
    <!--Start card-->
    <div class="p-5 mb-8 bg-light text-dark">
        <div class="card custom-border d-flex align-items-center justify-content-center mx-auto" style="max-width: 920px;">
            <div class="card-body m-3 card-height">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="card-title small-title-color lang-vi">Definition</p>
                    <p class="card-subtitle text-muted small-title-color lang-vi">1 of 10</p>
                </div>
                <div class="row">
                    <div class="col-md-10 body-color lang-vi">
                        <p class="card-text des-height ">(n) yếu tố, cơ sở eg: The audience is an essential _____ of live theater.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
                             class="img-fluid rounded" alt="Sunset Over the Sea">
                    </div>
                </div>
                <div class="mt-4">
                    <form action="">
                        <div class="form-group">
                            <h5 class="card-title mb-4 big-title-color lang-vi font-weight-bold">Choose matching term</h5>
                            <div class="row mb-4">
                                <div class="col-sm-12 col-md-6">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio1">mistake</label>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio2">display</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio3">risk</label>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio4">revise</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    <!--End card-->
</div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
          integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
          integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
          crossorigin="anonymous"></script>
        -->
</body>
</html>
