<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/multi-choice-review.css}">
    <title>Multi Choice Review</title>
</head>
<body>
<div class="container-fluid">
    <!--Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="container-fluid">
            <div class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fill Blank
                </div>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Multi choices</a></li>
                    <li><a class="dropdown-item" href="#">Matching</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Home</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <a class="nav-link disabled justify-content-center" href="#" tabindex="-1" aria-disabled="true">Test 1 - Part 1</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Print test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End Navbar-->
    <!--Start card-->
    <div class="p-5 mb-8 bg-light text-dark">
        <div class="card custom-border d-flex align-items-center justify-content-center mx-auto" style="max-width: 920px;">
            <div class="card-body m-3 card-height">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="card-title small-title-color lang-vi">Definition</p>
                    <p class="card-subtitle text-muted small-title-color lang-vi">1 of 10</p>
                </div>
                <div class="row">
                    <div class="col-md-10 body-color lang-vi">
                        <p class="card-text des-height ">(n) yếu tố, cơ sở eg: The audience is an essential _____ of live theater.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
                             class="img-fluid rounded" alt="Sunset Over the Sea">
                    </div>
                </div>
                <div class="mt-4">
                    <form action="">
                        <div class="form-group">
                            <h5 class="card-title mb-4 big-title-color lang-vi font-weight-bold">Choose matching term</h5>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-2">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio1">mistake</label>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-2">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio2">display</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-2">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio3">risk</label>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-2">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-wide" for="btnradio4">revise</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End card-->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/multi-choice-review.js}"></script>
</body>
</html>
