<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{/images/page-icon.svg}">
    <title>Review Decks</title>
    <meta name="description" content="">
    <link rel="stylesheet" th:href="@{/css/review-deck.css}">
<body>
<header style="display: flex; align-items: center;">
    <a class="button_back" th:href="@{/decks/get-my-decks}">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
    <h1>FlashCard</h1>
</header>

<section id="notificationSec">
    <div class="alert alert-success" id="successMessage" th:if="${successMsg}">
        <span th:text="${successMsg}">Notify the success message!</span>
    </div>

    <div class="alert alert-danger" id="errorMessage" th:if="${errorMsg}">
        <span th:text="${errorMsg}">An error occurred.</span>
    </div>
</section>

<section>
    <div class="tools_content">
        <div class="tool_item dropdown">
            <ion-icon name="receipt-outline"></ion-icon>
            <h3>Test</h3>
            <ion-icon name="chevron-down-outline"></ion-icon>
            <div class="dropdown_menu">
                <a class="dropdown-item" th:href="@{/review/get-review(reviewType=MULTI_CHOICE,deckId=${deckForm.deck.id})}">Multi Choice</a>
                <a class="dropdown-item" th:href="@{/review/get-review(reviewType=FILL_BLANK,deckId=${deckForm.deck.id})}">Fill Blank</a>
                <a class="dropdown-item" th:href="@{/review/get-review(reviewType=MATCHING,deckId=${deckForm.deck.id})}">Match</a>
            </div>
        </div>
        <div class="tool_item" th:onclick="'editDeck(' + ${deckForm.deck.id} + ')'">
            <ion-icon name="pencil-outline"></ion-icon>
            <h3>Edit</h3>
        </div>
    </div>
    <div class="flip_cards_content">
        <div class="wrapper">
            <div class="flip_cards-container">
                <div class="flip_cards">
                    <div th:each="card, stat : ${deckForm.cards}" class="flip_card_frame" th:onclick="'toggleFlip(this)'">
                        <div class="flip_card_inner">
                            <div class="flip_card_front flip_card_content" th:if="${card.term != null and card.term != ''}">
                                <button class="button_read" th:onclick="'readContentAndStopPropagation(event)'">
                                    <ion-icon name="volume-medium-outline"></ion-icon>
                                </button>
                                <div class="flip_card_text" th:inline="text" th:utext="${card.term}"></div>
                            </div>
                            <div class="flip_card_front flip_card_content" th:if="${card.term == null || card.term == ''}">
                                <img src="../static/images/empty_img.gif" th:src="@{/images/empty_img.gif}" class="empty">
                            </div>
                            <div class="flip_card_back flip_card_content" th:if="${card.desc != null and card.term != ''}">
                                <button class="button_read" th:onclick="'readContentAndStopPropagation(event)'">
                                    <ion-icon name="volume-medium-outline"></ion-icon>
                                </button>
                                <div class="flip_card_text" th:inline="text" th:utext="${card.desc}"></div>
                            </div>
                            <div class="flip_card_back flip_card_content" th:if="${card.desc == null || card.term == ''}">
                                <img src="../static/images/empty_img.gif" th:src="@{/images/empty_img.gif}" class="empty">
                            </div>
                        </div>
                    </div>
                    <div th:if="${deckForm.cards.isEmpty()}" class="flip_card_frame-empty">
                        <img src="../static/images/empty_img.gif" th:src="@{/images/empty_img.gif}" class="empty">
                    </div>
                </div>
            </div>
        </div>
        <div class="flip_card_controls" th:if="${!deckForm.cards.isEmpty()}">
            <ion-icon name="arrow-back-outline" class="flip_cards_button" id="prev"></ion-icon>

            <div class="flip_card_count">
                <p class="flip_card_index"></p>
                <p>&sol;</p>
                <p class="flip_card_total" th:text="${#lists.size(deckForm.cards)}"></p>
            </div>

            <ion-icon name="arrow-forward-outline" class="flip_cards_button" id="next"></ion-icon>
        </div>
        <div class="process_bar_container" th:if="${!deckForm.cards.isEmpty()}">
            <div class="process_bar"></div>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:src="@{/js/review-deck.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        const notificationSec = $('#notificationSec')
        const successMessage = $('#successMessage');
        const errorMessage = $('#errorMessage');

        if (successMessage.length > 0 || errorMessage.length > 0) {
            setTimeout(function () {
                notificationSec.fadeOut('slow');
            }, 5000);
        }
    });
</script>
</body>
</html>