<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flashcards</title>
    <link rel="stylesheet" href="/src/main/resources/static/review-card.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #0a092d;
            color: #f5f6fb;
        }
    </style>
</head>
<header>

</header>

<body class = "container">
    <form th:controller = "Card" th:action="@{/review-card}" method="post">

        <div class="form-group">
            <label>Enter id Dick</label> <input type="text" class="form-control" name="deckId">
        </div>
        <button class="btn btn-primary btn-block">Submit</button>
    </form>
    <div class ="d-flex justify-content-center align-items-center ">
        <h2>LESSON 15- LISTENING</h2>
    </div>

    <div class = "h-70 w-70 ">
        <form>
            <div class = "form-group d-flex justify-content-center align-items-center ">
                <button type="submit" class="btn btn-secondary m-2 w-25">
                    <i class="fas fa-clipboard"></i> Flashcards
                </button>
                <button type="reset" class="btn btn-secondary m-2 w-25">
                    <i class="fas fa-book"></i> Learn
                </button>
                <button type="button" class="btn btn-secondary m-2 w-25">
                    <i class="fas fa-check"></i> Test
                </button>
                <button type="button" class="btn btn-secondary m-2 w-25">
                    <i class="fas fa-puzzle-piece"></i> Match
                </button>
            </div>
        </form>
        <div class="carousel-container">
            <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
                <div class=" carousel-inner">
                    <div th:each="card,iter : ${cards} ">
                        <div class="carousel-item"  th:classappend="${iter.index} == 0? active : ''">
                            <div class="card-group d-flex justify-content-center align-items-center">
                                <div class="flip-card shadow-lg">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <div class = "row">
                                                <div class = "col w-50">
                                                    <p class="hint" data-toggle="tooltip" data-placement="top" title="Hint text">Get a hint</p>
                                                </div>
                                                <div class = "col w-50">
                                                    <i class="fa-light fa-volume"></i>
                                                </div>
                                            </div>
                                            <h3 th:text = "${card.term}"></h3>
                                            <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" alt="Avatar" style="width:70%;height:70%;">
                                        </div>
                                        <div class="flip-card-back">
                                            <h4>Nghĩa</h4>
                                            <h5 th:text="${card.desc}"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "carousel-controls">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div id="progress-indicator" class="progress mt-2">
                <div id="progress-bar" class = "progress-bar d-flex justify-content-center align-items-center" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id = "progress-number" class = "d-flex justify-content-center align-items-center"></div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    var carousel = document.getElementById('carouselExampleCaptions');
    carousel.addEventListener('slide.bs.carousel', function (event) {
        var currentSlide = event.to +1;
        console.log(event.to);
        var totalSlides = carousel.querySelectorAll('.carousel-item').length;
        console.log(totalSlides);
        var progress = (currentSlide / totalSlides) * 100;
        var progressBarIndicator = document.getElementById('progress-indicator');
        var progressBar = document.getElementById('progress-bar');
        var progressNumber = document.getElementById("progress-number");
        progressBar.style.width = progress + '%';
        progressBar.setAttribute('aria-valuenow', progress.toString());
        progressNumber.innerHTML = currentSlide + '/' + totalSlides;
    });
</script>
</html>