<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/verify-email.css}" href="../static/css/verify-email.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Email Verification</h1>
        <p th:text="${message}" class="message">Message</p>
        <a th:if="${valid}" class="return-home" href="/home">Log in</a>
    </div>
</body>
</html>